.header {
    background-color: #312783;
    color: white;
    padding: 10px;
    height: 3.5em;
    box-shadow:
        0 3px 4px 0 rgba(0,0,0,.14),
        0 3px 3px -2px rgba(0,0,0,.12),
        0 1px 8px 0 rgba(0,0,0,.2)
}

.competition-name {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    font-size: 24px;
}

.right-align {
    float: right;
    margin-right: 2em
}

.nav {
    float: left;
}

.nav .nav-link {
    color: white;
}

.nav .nav-link:hover {
    color: lightgrey;
}

.nav a span {
    margin-left: 10px;
}

.nav .active {
    border: thin white solid;
}

.dropdown-item:hover {
    background-color: #312783;
    color: white !important;
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

@media print {
    .no-print {
        display: none;
    }
}