<div class="menu-container h-100">
    <ul *ngIf="isLoggedIn" class="nav flex-column">
        <li class="nav-item" *ngFor="let item of menuItems">
            <button class="nav-link" routerLink="{{item.link}}" routerLinkActive="active" [routerLinkActiveOptions]="item.options">
                <i class="fa fa-{{item.icon}}"></i>
                <span class="menu-item-text">{{item.name}}</span>
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" (click)="logout()">
                <i class="fa fa-sign-out"></i>
                <span class="menu-item-text">Log Out</span>
            </button>
        </li>
    </ul>
</div>