<h2>{{ date | date:'EEEE MMM d'}}</h2>

<ul class="list-group list-group-flush">
<li *ngFor="let block of testblocks" class="list-group-item row d-flex {{block.test.testcode}}" [ngStyle]="{'height': (100 / (16 * 12) * block.getDuration() / 5) + '%' }">
    <div class="col-2 d-flex flex-column justify-content-between">
      <div>{{ block.starttime | date:'HH:mm' }}</div>
      <div>{{ block.endtime | date: 'HH.mm' }}</div>
    </div>
    <div class="col-10">
      {{ block.label }}
    </div>
  </li>
</ul>