.unassigned-container {
    border-right: #292930 medium solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

app-testlist {
    min-width: 300px;
}

button {
    width: 100%;
}

.title-container {
    height: 4rem;
    display: flex;
    align-items: center;
}

.title {
    padding: 0 1.25rem;
}

.list-group-item {
    cursor: default;
}

.list-group-item-action {
    cursor: pointer;
}

.menutoggle {
    position: absolute;
    top: 0;
    right: -35px;
    z-index: 99;
    background-color: #292930;
    border-color: #292930;
    width: 35px;
    height: 3rem;
    border-radius: 0 10px 10px 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}