<div class="container-fluid {{cssClass}}">
    <div *ngIf="!hideControls" class="header row">
      <div class="col logo-container">
        <i class="fa fa-compass logo"></i>
      </div>
      <div class="col header border-bottom d-flex justify-content-between">
        <h1 class="mb-0">{{ title }}</h1>
        <div class="header-right">
          <div *ngIf="isLoggedIn" class="buttons">
            <button *ngIf="currentUser" class="btn btn-sm btn-light mr-1"  ngbTooltip="User Settings" (click)="showUserEdit = true"><i class="fa fa-user"></i> {{currentUser.username}}</button>
            <button class="btn btn-sm btn-light mr-1" ngbTooltip="Change competition" (click)="showCompetitionChanger = true"><i class="fa fa-home"></i><span *ngIf="competition"> {{ competition.name }}</span><span *ngIf="!competition" class="text-muted"> No competition selected</span></button>
          </div>
        </div>
      </div>
    </div>
    <ng-content></ng-content>
</div>

<p-toast></p-toast>

<app-sidebar [visible]="showCompetitionChanger" (sidebarHidden)="showCompetitionChanger = false" header="Change competition">
  <app-competition-changer *ngIf="currentUser" [competitions]="currentUser.competitions" [activeCompetitionUri]="competition ? competition._links.self : null" (create)="competitionCreated($event)" (close)="showCompetitionChanger = false"></app-competition-changer>
</app-sidebar>

<app-sidebar [visible]="showUserEdit" (sidebarHidden)="showUserEdit = false" header="Edit user">
  <app-user-edit *ngIf="currentUser" [user]="currentUser" (userUpdate)="updateUser($event)" (close)="showUserEdit = false"></app-user-edit>
</app-sidebar>