.test-card {
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none;
}

.judges span {
    font-size: 18px;
    float: left;
}

.small-judge span {
    font-size: large !important;
}

.smaller-judge span {
    font-size: .8rem !important;
}

.small h5 {
    font-size: large !important;
}

.smaller h5 {
    font-size: .8rem !important;
}

.draghandle {
    cursor: move;
}

.card-body {
    padding: .5em 1em;
    overflow: hidden;
}

.card-body h5 {
    margin-bottom: .2em;
}

.drag-border {
    display: none;
}

.alert {
    padding: .1em .5em;
    margin-bottom: .3em;
}

.capitalize {
    text-transform: uppercase;
}

.timespan {
    font-size: .8rem;
}

.remove {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px;
}

.critical {
    color: red;
}

.warning {
    color: orange;
}

.noclick {
    cursor: default !important;
}

.nopoint {
    cursor: default !important;
    pointer-events: none;
}

.col:last-child {
    text-align: right;
}

.fa {
    min-width: 5px;
    min-height: 5px;
}

.time {
    text-align: right;
}

.remove, .add, .warning, .check, .edit {
    cursor: pointer;
}

