<div class='template-wrap'>
  <div class="subject d-flex justify-content-between">
    <span>{{ test.label }} <span id="groupsFor-{{test.block_id}}" *ngIf="test.phase == 'PREL'">({{ test.groups }})</span></span>
    <span class="warning-container">
      <i *ngIf="test.getDuration() > 125 && test.getDuration() < 150" class="fa fa-warning text-warning" ngbTooltip="This test is longer than 2 hours. Consider splitting it up to give the judges a break."
        container="body" placement="bottom"></i>
      <i *ngIf="test.getDuration() >= 150" class="fa fa-exclamation-circle text-danger" ngbTooltip="This test is longer than 2,5 hours. You should split it up to give the judges a break."
        container="body" placement="bottom"></i>
    </span>
  </div>
  <div *ngIf="test.phase === 'PREL'" class="section">
      Block {{ test.block_number }}
  </div>
  <div class="time">{{ test.getStartTime() | date:"HH:mm" }} - {{ test.getEndTime() | date:"HH:mm"}}</div>
</div>