/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";


* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

html,body {
    height: 100%;
}

router-outlet+* {
    width: 100%;
}

ngb-popover-window {
    width: 274px;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells,
.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells
 {
    height: 10px;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td {
    overflow: visible;
    padding: 0;
    height: 10px;
    font-size: 0;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td span {
    height: 9px;
    overflow: visible;
    display: block;
    font-size: 11px;
    text-align: right;
    padding-right: 5px;
}

.e-schedule .e-vertical-view .e-alternate-cells {
    border-bottom: none;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-content, .e-quick-popup-wrapper .e-cell-popup .e-popup-content {
    padding: 0;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
    border-radius: 10px;
    padding: 5px;
}

.e-header-cells {
    /* height: 4rem!important; */
}

[aria-label*="T1"] {
    background-color: #A9D978!important;
    color: black!important;
}

[aria-label*="T2"] {
    background-color: #B4FFB3!important;
    color: black!important;
}

[aria-label*="T3"] {
    background-color: #67A266!important;
    color: black!important;
}

[aria-label*="T4"] {
    background-color: #44985D!important;
    color: white!important;
}

[aria-label*="T5"] {
    background-color: #9DB688!important;
    color: black!important;
}

[aria-label*="T8"] {
    background-color: #AABCA6!important;
    color: black!important;
}

[aria-label*="V1"], [aria-label*="GDB"] {
    background-color: #7194C0!important;
    color: black!important;
}

[aria-label*="V2"], [aria-label*="GDT"] {
    background-color: #4B627F!important;
    color: white!important;
}

[aria-label*="V3"], [aria-label*="GDC"] {
    background-color: #96C4FF!important;
    color: black!important;
}

[aria-label*="V5"], [aria-label*="GDY"] {
    background-color: #263140!important;
    color: white!important;
}

[aria-label*="F1"], [aria-label*="GDA"] {
    background-color: #34495e!important;
    color: white!important;
}

[aria-label*="F2"] {
    background-color: #87B0E5!important;
    color: black!important;
}

[aria-label*="PP1"] {
    background-color: #E74C3C!important;
    color: white!important;
}

[aria-label*="P2"] {
    background-color: #C0392B!important;
    color: white!important;
}

[aria-label*="P1"], [aria-label*="P3"] {
    background-color: #A4392C!important;
    color: white!important;
}

.custom {
    background-color: #d6d8d9;
    color: black;
}