/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";


* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

html,body {
    height: 100%;
}

router-outlet+* {
    width: 100%;
}

ngb-popover-window {
    width: 274px;
}

.fc-toolbar {
    margin: 0!important;
}

body .ui-sidebar .ui-sidebar-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

body .ui-sidebar .sidebar-header-btn {
    font-size: 1.5rem;
    border-radius: 50rem;
}

body .ui-sidebar .p-grid {
    margin-right: -1px;
    margin-left: -1px;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells,
.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells,
.fc-time-grid .fc-slats table tbody tr td
 {
    height: 10px;
    overflow: visible;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td {
    overflow: visible;
    padding: 0;
    height: 10px;
    font-size: 0;
}

.fc-time-grid .fc-slats table tbody tr.fc-minor td {
    border: none;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td span,
.fc-time-grid .fc-slats table tbody tr td span {
    height: 9px;
    overflow: visible;
    display: block;
    font-size: 11px;
    text-align: right;
    padding-right: 5px;
    width: 1.5rem;
}

.e-schedule .e-vertical-view .e-alternate-cells {
    border-bottom: none;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-content, .e-quick-popup-wrapper .e-cell-popup .e-popup-content {
    padding: 0;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
    border-radius: 10px;
    padding: 5px;
}


.btn-success, .background-success {
    background-color: #3EB650!important;
}

.border-success {
    border-color: #3EB650!important;
}