<div *ngIf="currentCompetition" class="row">
  <div class="col">
    <div class="page-section">
      <div class="row mt-4">
        <div class="col-6 input-group">
          <span class="ui-float-label w-100">
            <input id="competitionName" #competitionName type="text" class="form-control rounded-pill" [(ngModel)]="currentCompetition.name" pInputText>
            <label for="competitionName">Competition name</label>
          </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col input-group">
          <span class="ui-float-label w-100">
            <p-calendar class="w-100" #startDate id="startDate" styleClass="w-100" inputStyleClass="form-control rounded-pill" name="startDate" dateFormat="dd-mm-yy" [(ngModel)]="newStartDate"></p-calendar>
            <label for="startDate">Start Date</label>
          </span>
        </div>

        <div class="col input-group">
          <span class="ui-float-label w-100">
            <p-calendar class="w-100" #endDate id="endDate" styleClass="w-100" inputStyleClass="form-control rounded-pill" name="endDate" dateFormat="dd-mm-yy" [(ngModel)]="newEndDate"></p-calendar>
            <label for="endDate">End Date</label>
          </span>
        </div>
      </div>
      <!-- <div class="row mt-2">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="" class="input-group-text">Tracks / Venues</label>
          </div>
          <input id="venues" type="text" class="form-control" [(ngModel)]="addVenue" [ngbTypeahead]="venueSearch" (selectItem)="venueChange($event)" (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)" #venues="ngbTypeahead" [resultTemplate]="searchTemplate" [inputFormatter]="formatter">
          <ng-template #searchTemplate let-v="result" let-t="term">
            <ngb-highlight [result]="v.name" [term]="t"></ngb-highlight>
          </ng-template>
        </div>
      </div>
      <div class="row mt-2">
          <div class="competitionVenues col">
            <span class="venue badge badge-info mr-1" *ngFor="let venue of currentCompetition.venues">{{ venue.name }} <a class="fa fa-trash" (click)="removeVenue(venue)"></a></span>
          </div>
      </div> -->
      <div class="row mt-2">
        <div class="col d-flex justify-content-between">
          <button pButton type="button" icon="pi pi-save" label="Save" class="ui-button-raised ui-button-success ui-button-rounded" (click)="saveCompetition(startDate.value, endDate.value);"></button>
          <button pButton type="button" icon="pi pi-trash" label="Delete competition" class="ui-button-raised ui-button-danger ui-button-rounded" (click)="deleteCompetition();"></button>
        </div>
        <p-confirmDialog header="Are you sure?" icon="pi pi-trash"></p-confirmDialog>
      </div>
    </div>
    <!-- <div class="page-section">
      <h2>Users</h2>
      <div class="row mt-2">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="username" class="input-group-text">Username</label>
          </div>
          <input id="username" #username type="text" class="form-control" [(ngModel)]="newUserName">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="password" class="input-group-text">Password</label>
          </div>
          <input id="password" #password type="password" class="form-control" [(ngModel)]="newUserPass">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <button (click)="createUser()" class="btn btn-success">Create User</button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <ngb-alert *ngIf="alert.message !== ''" [dismissible]="false" [type]="alert.type">{{alert.message}}</ngb-alert>
        </div>
      </div>
    </div> -->
  </div>
</div>